body{
    background-color: rgb(241, 238, 238);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: none;
    width: 450px;
    padding: 10px;
    border-radius: 8px;
}
.red{
    color: red;
}
.info-btn{
    background-color: red;
    color: white;
    height: 35px;
    width: 150px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
}